body::-webkit-scrollbar {
    width: 10px;
    background-color:lightgrey;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #2A3647;
}
.container-contacts {
    height: 100%;
    width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: scroll;
}

.initials {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50px;
}
.initials_B {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 104px;
}

.initials-contact {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.initials-contact-body {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 36px;
    border: solid 2px white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add-task-link {
    color: #29abe2;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-task-link img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.contactarea-body-name {
    display: flex;
    align-items: center;
}

.contactarea-body-name h3 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.container-name {
    margin-left: 40px;
}

.edit-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
}

.edit-link span {
    margin-bottom: -10px;
}

.text-contact-info {
    font-size: 21px;
}

.contactarea-body-contactinfo {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contactarea-body-info {
    margin-top: 40px;
}

.contactarea-body-info h5 {
    margin-bottom: 20px;
}

.container-filtered-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.letters {
    font-size: 21px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-card {
    width: 100%;
    padding: 8px 0px 8px 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin-top: 5px;
    box-sizing: border-box;
    position: relative;
}

.contact-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-card-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 75%;
}

.contact-card-text p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 5px;
}

.contact-card-text span {
    color: #29abe2;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-card-menu {
    height: 16px;
    position: absolute;
    top: 1px;
    right: 0px;
    z-index: 9999;
    cursor: pointer;
}

.wrapper-popup-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.edit-link-image2 {
    display: none;
}

.kanban-span {
    display: none;
}

.contact-card-menu-popup {
    background-color: #091931;
    position: absolute;
    top: 4px;
    right: 10px;
    border-radius: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.contact-card-menu-popup span {
    cursor: pointer;
    margin: 4px 8px;
    padding: 2px 8px;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-size: 16px;
    font-size: 400;
    cursor: pointer;
}

.contact-card-menu-popup span:hover {
    color: white;
    scale: 1.1;
}

.wrapper {
    position: absolute;
    top: 92px;
    left: 233px;
    height: calc(100vh - 92px);
    box-sizing: border-box;
    z-index: -1;
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-contactarea {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 600px;
    height: auto;
    box-sizing: border-box;
    padding-left: 70px;
    
}

.header-contacts h1 {
    font-size: 50px;
}

.header-contacts p {
    font-size: 24px;
}

.horizontal-line {
    height: 60px;
    width: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #29abe2;
}

.button-addcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
    gap: 10px;
    background: #2a3647;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 67px;
    right: 52px;
    cursor: pointer;
}

.button-addcontact:hover {
    background-color: #29abe2;
}

.button-addcontact img {
    width: 21px;
    height: 21px;
}

.button-addcontact p {
    margin: 0px;
}

.container-addcontact {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.add-contact {
    width: 900px;
    height: 420px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    animation: flyin 225ms linear;
}

@keyframes flyin {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.add-contact-first-part {
    width: 40%;
    height: 100%;
    background-color: #2a3647;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.container-logo-addcontact {
    width: 100%;
    padding-left: 80px;
}

.container-logo-addcontact img {
    width: 50px;
}

.container-logo-addcontact h2 {
    width: 100%;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.container-logo-addcontact p {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

.vertikal-line-addcontact {
    width: 25%;
    height: 3px;
    background-color: #29abe2;
}

.add-contact-second-part {
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-second-part img {
    position: absolute;
}

.add-contact-third-part {
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    flex-direction: column;
}

.input_name {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("../assets/img/name_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
    margin-top: 10px;
}

.input_name::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.input_name:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background-image: none;
}

.input_email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("../assets/img/Mail_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
    margin-top: 10px;
}

.input_email::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.input_email:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background-image: none;
}

.input_phone {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("../assets/img/logo-phone.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
    margin-top: 10px;
}

.input_phone::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.input_phone:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background-image: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a3647;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: white;
    border: solid 2px #2a3647;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../assets/img/x-blue.png");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    margin-right: 15px;
}

.button-cancel p {
    margin: 0px;
    padding-right: 20px;
}

.button-cancel:hover {
    background-image: url("../assets/img/x-lightblue.png");
    border: solid 2px #29abe2;
    color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: #2a3647;
    border: solid 2px #2a3647;
    border-radius: 10px;
    cursor: pointer;
}

.button-create:hover {
    border: solid 2px #29abe2;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.container-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 320px;
    margin-top: 10px;
}

.close-addcontact {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.container-edit-contact {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.position-initials {
    top: 240px !important;
}

.text-lightblue {
    color: #29abe2;
}

.container-button-mobile {
    display: none;
}

.close-contact-mobile {
    display: none;
}

.close-addcontact-mobile {
    display: none;
}

@media (max-width: 1400px) {
    .container-contactarea {
        left: 350px;
    }
}

@media (max-width: 1200px) {
    .header-contacts h1 {
        font-size: 40px;
    }

    .header-contacts p {
        font-size: 20px;
    }

    .contactarea-body-name h3 {
        font-size: 30px;
    }
}


@media (max-width: 1050px) {
    .wrapper {
        height: calc(100vh - 184px);
        left: 0px;
    }

    .button-addcontact {
        bottom: 150px;
    }

    .container-contactarea {
        top: 84px;
        left: 358px;
        padding-bottom: 200px;
}

}

@media (max-width: 920px) {
    .add-contact {
        width: 100%;
        max-width: 400px;
        height: 600px;
        position: relative;
        margin: 93px 40px;
        bottom: 0;
        flex-direction: column;
    }

    .add-contact-first-part {
        width: 100%;
        height: 51%;
        background-color: #2a3647;
        border-radius: 10px 10px 0 0px;
    }
    .container-logo-addcontact img {
        display: none;
    }

    .container-logo-addcontact {
        width: auto;
        padding-left: 0px;
    }
    .add-contact-second-part {
        width: 100%;
        position: absolute;
        top: 300px;
        background-color: unset;
    }

    .image-contact-mobile {
        width: 32px;
        height: 32px;
    }

    .image-grey-mobile {
        width: 100px;
        height: 100px;
    }

    .add-contact-third-part {
        width: 100%;
        height: 49%;
        border-radius: 0px 0px 10px 10px;
        padding-top: 59px;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    .input_name {
        margin-top: 2px;
        margin-bottom: 8px;
        width: 290px;
        height: 32px;
    }

    .input_name::placeholder {
        font-size: 18px;
    }
    .input_email {
        margin-bottom: 8px;
        width: 290px;
        height: 32px;
    }

    .input_email::placeholder {
        font-size: 18px;
    }
    .input_phone {
        margin-bottom: 8px;
        width: 290px;
        height: 32px;
    }

    .input_phone::placeholder {
        font-size: 18px;
    }

    .button-cancel {
        display: none;
    }

    .button-create {
        margin-top: 12px;
    }

    .close-addcontact {
        display: none;
    }

    .close-addcontact-mobile {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .wrapper {
        height: calc(100vh - 184px);
        left: 0px;
    }

    .edit-link span {
        display: none;
    }

    .kanban-span {
        display: flex;
        padding-bottom: 11px;
        margin: 0px;
    }

    .horizontal-line {
        position: absolute;
        width: 0px;
        height: 90px;
        left: 85px;
        top: 120px;
        border: 3px solid #29ABE2;
        transform: rotate(90deg);
    }

    .contactarea-body-name h3 {
        font-size: 30px;
    }

    .header-contacts {
        flex-direction: column;
        align-items: start;
        padding-bottom: 100px;
    }

    .header-contacts h1 {
        font-size: 47px;
        margin: 0px;
    }

    .container-contactarea {
        top: 33px;
        left: 0px;
        width: 100vw;
        animation: flyIn 225ms ease-in;
        padding-left: 50px;
        width: 80vw;
    }

    .initials-contact-body {
        width: 80px;
        height: 80px;
    }
    .container-contacts {
        width: 100vw;
        box-sizing: border-box;
        padding-top: 60px;
        padding-bottom: 150px;
    }

    .edit-link-image2 {
        display: flex;
        position: absolute;
        top: 500px;
        right: 0px;
    }

    .edit-link-image1 {
        display: none;
    }

    @keyframes flyIn {
        0% {
            left: 800px;
        }
        100% {
            left: 0px;
        }
    }

    .container-button-mobile {
        display: flex;
        width: 100vw;
        height: 60px;
        box-sizing: border-box;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: end;
        padding-right: 32px;
    }

    .button-addcontact-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 16px;
        padding: 8px 16px;
        gap: 10px;
        background: #2a3647;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .button-addcontact-mobile:hover {
        background-color: #29abe2;
    }

    .button-addcontact-mobile img {
        width: 21px;
        height: 21px;
    }

    .button-addcontact-mobile p {
        margin: 0px;
    }

    .button-addcontact {
        display: none;
    }

    .close-contact-mobile {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0px;
        cursor: pointer;
    }

    .d-none-mobile {
        display: none;
    }
}

@media (max-width: 470px) { 

    h1 {
        margin: 0px;
        padding-bottom: 20px;
    }

    .close-contact-mobile {
        top: 40px;
    }

    .horizontal-line {
        position: absolute;
        width: 0px;
        height: 90px;
        left: 70px;
        top: 100px;
        
    }

    p {
        margin: 0px;
    }

    .contactarea-body-name h3 {
        font-size: 20px;
    }
    .container-contactarea {
        top: 33px;
        padding-left: 33px;
        box-sizing: unset;
    }

    .contactarea-body-info {
        margin-top: 20px;
    }
    .header-contacts h1 {
        font-size: 40px;
    }

    .header-contacts p {
        font-size: 18px;
    }
}

.d-none {
    display: none;
}
