body::-webkit-scrollbar {
    width: 10px;
    background-color:lightgrey;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #2A3647;
}
.info-content {
    padding-bottom: 40px;
    padding-left: 355px;
    padding-top: 100px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
}

h2 {
    
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 10px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}

.back-btn {
    padding-left: 794px;
}

.back-btn img {
    width: 25px;
    height: 25px;
}

.back-btn a :hover {
    opacity: 0.7;
    width: 35px;
    height: 35px;
}

.info-number {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    width: 26px;
    height: 32px;
    padding-right: 35px;
}

tr {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}

.back1-btn {
    display: none;
}

.back1-btn img {
    width: 16px;
    height: 16px;
}

.back1-btn a :hover {
    opacity: 0.7;
    width: 20px;
    height: 20px;
}

.mobile-headline {
    display: none;
}

@media (max-width:1400px) {
    .back-btn {
       padding-left: 300px;
    }
}

@media (max-width:1050px) {
    .info-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 0px;
        margin: 50px;
        margin-bottom: 200px;
        padding-top: 100px;
    }

    .back-btn {
        display: none;
    }

    tr {
        align-items: flex-start;
    }

    .mobile-headline {
        display: flex;
        padding-right: 100px;
    }

    .back1-btn {
        display: flex;
    }

    .mobile-top {
        display: flex;
    }
}

@media (max-width:550px ) {
    .back-btn {
        padding-left: 100px;
     }

     h1 {
        font-size: 47px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .mobile-headline {
        font-size: 16px;
    }
}