body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color:lightgrey;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #2A3647;
}

.summary-headline-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 355px;
    margin-top: 120px;
    gap: 20px;
    width: 100%;
}

.summary-headline-left {
    height: 73px;
    font-weight: 700;
    font-size: 61px;
}

.summary-headline-middle {
    height: 59px;
    border: 3px solid #29ABE2;
    background-color: #29ABE2;
}

.summary-headline-middle2 {
    display: none;
    height: 59px;
    border: 3px solid #29ABE2;
    background-color: #29ABE2;
}

.summary-headline-right {
    width: 304px;
    height: 32px;
    font-size: 27px;
    color: #2A3647;
    font-weight:   400;
}

.summary-greet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    position: absolute;
    width: 385px;
    height: 136px;
    left: 1000px;
    top: 474px;
}

.summary-greet-top {
    color: #2A3647;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
}

.summary-greet-bottom {
    color: #29ABE2;
    width: 385px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}

.summary-details-container {
    box-sizing: border-box;
    padding-left: 355px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
}

.summary-details-container a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: inherit;
}

.summary-tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
    width: 580px;
}

.summary-tasks-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.summary-tasks-btn:hover {
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.summary-tasks-btn:hover .summary-tasks-amount {
    color: white;
}

.summary-tasks-btn:hover .summary-tasks-text {
    color: white;
}

.summary-tasks-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 127px;
}

.summary-tasks-amount {
    height: 77px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.summary-tasks-text {
    width: 87px;
    height: 50px;
    text-align: center;
    color: #2A3647;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.summary-urgency-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    width: 580px;
    height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 0px !important;
}

.summary-urgency-container:hover {
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.summary-urgency-image {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-urgency-image img {
    scale: 1.2;
}

.summary-urgency-container:hover .summary-urgency-text {
    color: white;
}

.summary-urgency-container:hover .summary-urgency-class {
    color: white;
}

.summary-urgency-container:hover .summary-deadline-bottom {
    color: white;
}

.summary-urgency-container:hover .summary-deadline-top {
    color: white;
}

.summary-urgency-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    width: 130px;
    height: 75px;
}

.summary-urgency-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 75px;
}

.summary-urgency-class {
    width: 50px;
    height: 56px;
    font-weight: 600;
    font-size: 47px;
    text-align: center;
}

.summary-urgency-text {
    width: 52px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
    text-align: center;
}

.summary-urgency-border {
    width: 0px;
    height: 102px;
    border: 2px solid #D1D1D1;
    background-color: #D1D1D1;
}

.summary-urgency-deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    width: 178px;
    height: 57px;
}

.summary-deadline-top {
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    color: #2A3647;
}

.summary-deadline-bottom {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #2A3647;
}

.summary-to-do-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    width: 580px;
    height: 150px;
}

.summary-to-do-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;
    width: 272.5px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
}

.summary-to-do-frame:hover {
    cursor: pointer;
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summary-to-do-frame:hover .summary-to-do-amount {
    color: white;
}

.summary-to-do-frame:hover .summary-to-do-text {
    color: white;
}

.summary-to-do-frame:hover .summary-pen-image {
    background-image: url(../assets/img/white-pen-icon.png);
    border-radius: 50%;
}

.summary-to-do-frame:hover .summary-done-image {
    background-image: url(../assets/img/white-check-icon.png);
    border-radius: 50%;
}

.summary-to-do-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-to-do-amount {
    width: 50px;
    height: 77px;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
}

.summary-to-do-text {
    width: 60px;
    height: 25px;
    font-weight: 400;
    font-size: 21px;
    color: #2A3647;
}

.summary-pen-image {
    width: 70px;
    height: 70px;
    background-image: url(../assets/img/3.png);
}

.summary-done-image {
    width: 70px;
    height: 70px;
    background-image: url(../assets/img/2.png);
}

.responsive-container {
    display: none;
}

.d-none {
    display: none;
}

.wrapper_mobile_menu {
    position: fixed;
}

.mobile-headline {
    display: none;
}

@media (max-width:1400px) {
    .summary-greet-container {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .content {
        position: absolute;
        z-index: -1;
        padding-bottom: 200px;
        padding-left: 100px;
    }

    
}

@media (max-width:1200px) {
    .content {
        padding-left: 0px;
    }
}


@media (max-width:1050px) {

    .content {
        padding-left: 100px;
    }

    .summary-greet-container-mobil {
        text-align: center;
        font-size: 6rem;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 96px;
        height: calc(100% - 188px);
        width: 100vw;
        background-color: #F5F5F5;
        z-index: -10;
        color: rgba(0, 0, 0, 0);
        animation: animation-greet-container-mobil 3s;
        opacity: 0;
    }

    @keyframes animation-greet-container-mobil {
        0% {
            background-color: #F5F5F5;;
            z-index: 3;
            opacity: 1;
            width: 100vw;
        }


        60% {
            background-color: #F5F5F5;;
            z-index: 3;
            opacity: 1;
            width: 100vw;
        }

        100% {
            background-color: #F5F5F5;;
            z-index: 0;
            opacity: 1;
            width: 100vw;
            
        }
    }

    .summary-greet-top-mobil {
        z-index: -10;
        text-align: center;
        font-size: 36px;
        font-weight: bolder;
        color: rgba(41, 171, 226, 0);
        animation: animation-summary-greet-top-mobil 2s;
        opacity: 0;
    }

    @keyframes animation-summary-greet-top-mobil {
        0% {
            color: black;
            opacity: 1;
        }

        60% {
            color: black;
            opacity: 1;
        }

        100% {
            color: black;
            opacity: 1;
        }
    }

    .summary-greet-bottom-mobil {
        text-align: center;
        font-size: 47px;
        font-weight: bolder;
        color: rgb(41, 171, 226);
        opacity: 0;
        animation: summary-greet-bottom-mobil 3s;
        
    }

    @keyframes summary-greet-bottom-mobil {
        0% {
            color: rgba(41, 171, 226, 1);
            opacity: 1;
        }

        50% {
            color: rgba(41, 171, 226, 1);
            opacity: 1;
        }

        100% {
            color: rgba(41, 171, 226, 0);
           opacity: 1;
        }
    }
    .summary-headline-container {
        padding-left: 0px !important;
        display: flex;
        justify-content: center;
    }

    .summary-details-container {
        padding-left: 0px !important;
        align-items: center;
    }
    
}

@media (max-width:800px) {
    .content {
        padding-left: 50px;
    }

    .summary-headline-left {
        font-size: 50px;
    }

    .summary-headline-right {
        font-size: 20px;
        width: auto;
    }

    .summary-tasks-btn {
        width: 130px;
        height: 130px;
       }
    
       .summary-tasks-container {
        justify-content: center;
        gap: 15px;
       }
    
       .summary-tasks-amount {
        width: 30px;
        height: 56px;
        font-size: 47px;
    
       }

       .summary-tasks-container {
        width: 0px;
    }
    
       .summary-tasks-text {
        font-size: 14px;
       }

       .summary-urgency-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 28px 0px;
        gap: 20px;
        width: 420px;
        height: 130px;
       }

       .summary-urgency-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 18px;
        height: 73px;
       }

       .summary-to-do-container {
        width: 0px;
        justify-content: center;
       }

       .summary-to-do-frame {
        width: 192px;
       }

       .summary-urgency-image img {
        scale: 1;
       }

       .summary-to-do-amount {
        font-size: 47px;
       }
       
       .summary-to-do-text {
        font-size: 14px;
        display: flex;
        justify-content: center;
       }
}

@media (max-width:550px) {

    .content {
        display: flex;
        flex-direction: column;
     }
     .summary-headline-container {
       padding-left: 0px;
       display: flex;
       justify-content: center;
       gap: 0px !important;
       margin-top: 148px;
     }
 
     .summary-headline-left {
         font-size: 50px;
     }
 
     .summary-headline-right {
         font-size: 24px;
     }
 
     .summary-details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 363px;
        left: 33px;
        top: 310px; 
        padding-bottom: 150px;
     }

    .summary-headline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        position: absolute;
        width: 237px;
        height: 101px;
        left: 33px;
    }

    .mobile-headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        position: absolute;
        width: 255px;
        height: 19px;
        left: 33px;
        top: 130px;
    }

    .summary-headline-left {
        font-size: 47px;
        width: 221px;
        height: 56px;
    }

    .summary-headline-middle {
        position: absolute;
        width: 0px;
        height: 90px;
        left: 50px;
        top: 90px;
        border: 3px solid #29ABE2;
        transform: rotate(90deg);
    }

    .summary-tasks-btn {
        width: 110px;
        height: 110px;
       }
    
       .summary-tasks-container {
        justify-content: start;
        gap: 15px;
       }
    
       .summary-tasks-amount {
        width: 30px;
        height: 56px;
        font-size: 47px;
    
       }
    
       .summary-tasks-text {
        font-size: 14px;
       }

       .summary-urgency-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 28px 0px;
        gap: 20px;
        width: 360px;
        height: 110px;
       }

       .summary-urgency-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 18px;
        width: 108px;
        height: 73px;
       }

       .summary-urgency-image {
        width: 40px;
        height: 40px;
       }

       .summary-urgency-image img {
        width: 40px;
        height: 40px;
       }

       .summary-urgency-text {
        font-size: 14px;
       }

       .summary-urgency-deadline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 135px;
        height: 44px;
       }

       .summary-deadline-top {
        font-size: 16px;
       }

       .summary-deadline-bottom {
        font-size: 14px;
       }

       .summary-to-do-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 15px;
        width: 363px;
        height: 110px;
       }

       .summary-to-do-frame {
        width: 177.5px;
        height: 110px;
       }

       .summary-pen-image {
        width: 40px;
        height: 40px;
        background-image: url(../assets/img/mobile_pen.png);
        background-position: center;
       }

       .summary-to-do-check {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 40px;
        height: 73px;
       }

       .summary-to-do-amount {
        font-size: 47px;
       }

       .summary-to-do-text {
        font-size: 14px;
        text-align: center;
       }

       .summary-done-image  {
        width: 40px;
        height: 40px;
        background-image: url(../assets/img/mobile_right.png);
        background-position: center;
       }
}

@media(max-width: 450px) {
    .content{
        z-index: -1;
    }

    .summary-tasks-btn {
        width: 90px;
        height: 90px;
    }

    .summary-tasks-frame {
        height: 0px;
    }

    .summary-tasks-amount {
        font-size: 25px;
    }

    .summary-tasks-text {
        width: 55px;
        font-size: 12px;
    }

    .summary-urgency-container {
        width: 300px;
        height: 90px;
    }

    .summary-urgency-class {
        font-size: 25px;
    }

    .summary-details-container {
        width: 300px;
    }

    .summary-details-container a {
        gap: 15px;
    }

    .summary-urgency-details {
        height: 0px;
    }

    .summary-urgency-border {
        height: 90px;
    }

    .summary-to-do-frame {
        width: 140px;
        height: 90px;
    }

    .summary-to-do-container {
        width: 300px;
        gap: 10px;
    }

    .summary-to-do-amount {
        font-size: 25px;
        height: 30px;
    }
}
